tags

build/
**/build-doxygen/
gcc-arm-none-eabi-10.3-2021.10

# Ignore backup script in sdk/common
sdk/common/deploy-dfu.sh.bak

# Ignore everything under sdk/workspace except the listed entries
sdk/workspace/*
!sdk/workspace/hubcheck
!sdk/workspace/hubcheck/**
!sdk/workspace/imu
!sdk/workspace/imu/**
!sdk/workspace/respike
!sdk/workspace/respike/**
!sdk/workspace/sample_c5
!sdk/workspace/sample_c5/**
!sdk/workspace/sample_cpp5
!sdk/workspace/sample_cpp5/**
!sdk/workspace/sample00
!sdk/workspace/sample00/**
!sdk/workspace/sample01
!sdk/workspace/sample01/**
!sdk/workspace/etrobo_app
!sdk/workspace/etrobo_app/**
!sdk/workspace/etrobo_nao
!sdk/workspace/etrobo_nao/**
!sdk/workspace/Makefile

# Ignore build directories under each sdk/workspace project folder
sdk/workspace/*/build/
sdk/workspace/*/build/**
sdk/workspace/etrobo_nao/.vscode/
sdk/workspace/etrobo_nao/.vscode/**

# Ignore everything under tools except docker and requirements.txt
tools/*
!tools/docker
!tools/docker/**
!tools/requirements.txt
