INCLUDE("tecsgen.cfg");

#include "app.h"

CRE_SEM(COLOR_SENSOR_SERVICE_SEM, { TA_NULL, 1, 1 });

CRE_TSK(MAIN_TASK, { TA_ACT, 0, main_task, MAIN_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(ROBOT_CONTROL_TASK,
        { TA_NULL, 0, robot_control_task,
          ROBOT_CONTROL_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(ROBOT_SENSOR_TASK,
        { TA_NULL, 0, robot_sensor_task,
          ROBOT_SENSOR_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(BLUETOOTH_CONNECTION_TASK,
        { TA_NULL, 0, bluetooth_sender_task,
          BLUETOOTH_CONNECTION_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(SENSOR_LOG_TASK,
        { TA_NULL, 0, sensor_log_task,
          SENSOR_LOG_PRIORITY, STACK_SIZE, NULL });

CRE_CYC(ROBOT_CONTROL_CYC,
        { TA_NULL, { TNFY_ACTTSK, ROBOT_CONTROL_TASK },
          ROBOT_CONTROL_PERIOD, 0 });
CRE_CYC(ROBOT_SENSOR_CYC,
        { TA_NULL, { TNFY_ACTTSK, ROBOT_SENSOR_TASK },
          ROBOT_SENSOR_PERIOD, 0 });
